body {
    background-color: whitesmoke !important;
}

h1, h2 {
    text-align: center;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

@media (max-width: 576px) {


    .container {
        width: auto;
        padding: 0 !important;
        margin: 0;
    }
}