{% extends "base.html" %}

{% block header %}
<h1>Comprehensible Input Videos</h1>
{% endblock %}

{% block content %}
<ul>
    {% for language in languages %}
    <a href="{{ url_for('browse', language=language) }}">{{ language }}</a>
    {% endfor %}
</ul>

<style>
    * {
        font-size: 3rem;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style-type: none;
        padding: 0;
        gap: 1rem;
    }



    ul a:hover {
        box-shadow: 0 4px 8px 0 blueviolet, 0 6px 20px 0;
    }

    ul a {
        text-align: center;
        padding: 0;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 5rem;
    }


    /* Media Queries for Responsiveness */
    @media (max-width: 1200px) {
        ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 992px) {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        * {
            font-size: 2rem;
        }
    }

    @media (max-width: 576px) {
        ul {
            grid-template-columns: 1fr;
            gap: 0;
        }

        a {
            margin-bottom: 0.2rem;
        }
    }
</style>
{% endblock %}